[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
atlassian-python-api = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
ipdb = "*"

[dev-packages]
black = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
